<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">Sobre mí</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ms-auto">
            <p class="lead">
              Me llamo Serio Alegre, estoy estudiando desarrollo web desde 2020 aunque llevo ya unos años trabajando en el mundo IT como consultor de software y soporte técnico.
            </p>
            <p class="lead">
              Siempre me ha interesado las tecnologías, pero ha sido en los últimos años en los que he dado un giro a mi carrera en el sector turístico para especializarme en la programación Front-End.
            </p>
          </div>
          <div class="col-lg-4 me-auto">
            <p class="lead">
              Sigo en constante aprendizaje haciendo cursos de leguajes concretos y frameworks de programación para adquirir un conocimiento más amplio del desarrollo web.
            </p>
            <p class="lead">
              Muchas horas de prácticas en diferentes proyectos guiados que he podido realizar gracias a IT Academy de Barcelona.
            </p>
          </div>
          <div class="col-lg-8 offset-lg-2">
            <p class="lead">
              El desarrollo web es la parte de la programación del ámbito de que las tecnologías en la que me gustaría seguir evolucionando y trabajar como profesional. Es un sector de gran proyección en constante movimiento que me resulta un reto apasionante.
            </p>
          </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" target="_blank" href="https://github.com/sergiokiter">
              <i class="fas fa-code-branch me-2"></i>
              Mi Github
          </a>
      </div>
  </div>
</section>
